
# MIT License
# Copyright(c) 2022 Futurewei Cloud
#     Permission is hereby granted,
#     free of charge, to any person obtaining a copy of this software and associated documentation files(the "Software"), to deal in the Software without restriction,
#     including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and / or sell copies of the Software, and to permit persons
#     to whom the Software is furnished to do so, subject to the following conditions:
#     The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
#     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
#     FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
#     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


---
# Merak-topology service account
apiVersion: v1
kind: ServiceAccount
metadata:
  name: merak-topology
  namespace: merak
---
# Cluster role binding
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: merak-topology
  
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: merak-topology
    namespace: merak
---
# Merak-topology service
apiVersion: v1
kind: Service
metadata:
  name: merak-topology-service
  namespace: merak
spec:
  selector:
    app: merak-topology
  ports:
    - protocol: TCP
      name: grpc
      port: 40052
      targetPort: topology-grpc
  type: ClusterIP
---
# Merak Topo Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: merak-topology
  namespace: merak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: merak-topology
  template:
    metadata:
      labels:
        app: merak-topology
    spec:
      serviceAccountName: merak-topology
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: merak-topology
        image: meraksim/merak-topo:dev
        imagePullPolicy: Always
        ports:
          - containerPort: 40052
            name: topology-grpc
---
# Redis Deployment
apiVersion: apps/v1  # API version
kind: Deployment
metadata:
  name: topology-redis-master # Unique name for the deployment
  namespace: merak
  labels:
    app: topology-redis       # Labels to be applied to this deployment
spec:
  selector:
    matchLabels:     # This deployment applies to the Pods matching these labels
      app: topology-redis
      role: master
      tier: backend
  replicas: 1     # Run a single pod in the deployment
  template:          # Template for the pods that will be created by this deployment
    metadata:
      labels:        # Labels to be applied to the Pods in this deployment
        app: topology-redis
        role: master
        tier: backend
    spec:            # Spec for the container which will be run inside the Pod.
      containers:
      - name: topology-redis-master
        image: redis
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service        # Type of Kubernetes resource
metadata:
  name: topology-redis-master # Name of the Kubernetes resource
  namespace: merak
  labels:            # Labels that will be applied to this resource
    app: topology-redis
    role: master
    tier: backend
spec:
  ports:
  - port: 55001       # Map incoming connections on port 55001 to the target port 55001 of the Pod
    targetPort: 6379
  selector:          # Map any Pod with the specified labels to this service
    app: topology-redis
    role: master
    tier: backend

# RYU controller deployment
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ryu-deployment
  namespace: merak
spec:
  selector:
    matchLabels:
      app: ryu
  replicas: 5
  template:
    metadata:
      labels:
        app: ryu
    spec:
     #hostNetwork: true
      containers:
      - name: ryu
        image: osrg/ryu
        args:
          - ryu-manager
          - ./ryu/ryu/app/simple_switch_13.py
        ports:
        - containerPort: 6653
          name: openflow
